/*
 * Header Layout Styling
 */

.header-display {
  height: 525px;
  width: 100%;
  background-color: #213864;
  color: #FFFFFF;
  top: 0;
  font-family: "Source Sans Pro", "sans-serif";
  background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 55px;
}

.header-user:hover {
  padding-bottom: 15px;
  transition-duration: 0.2s;
  text-shadow: 2px 2px 8px #1e1e1e;
}

@media only screen and (min-width: 1300px) {
  .header-display {
    width: 60%;
    margin-top: 1.5em;
    margin-left: 3em;
  } 
 }

 @media only screen and (max-width: 1300px) {
  .header-user {
    position: relative;
  }
 }