.nav-display {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  top: 0;
  position: fixed;
  padding: 1.5em;
  font-family: "Source Sans Pro", "sans-serif";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tweeter {
  font-family: "Bungee";
  color: #FFFFFF;
  font-size: 36px;
  padding: 0.7em;
  position: relative;
  display: block;
  transition-duration: 0.2s;
}

.nav-tweeter:hover {
  padding-top: 10px;
  transition-duration: 0.2s;
  color:#8b99c3;
}

.nav-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-logo-color {
  color: #DF1E3B;
}