button {
  font-family: "Bungee";
  background-color: #4056A1;
  color: white;
  border: none;
  height: 35px;
  width: 110px;
}

button:hover {
  background: #768dd8;
  box-shadow: 0.2rem 0.2rem #A4BFD1;
}

.tweet-and-counter {
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
  padding-top: 0.8em;
  padding-bottom: 2em;
}

textarea {
  border: none;
  border-bottom: solid;
  border-color: #545149;
  width: 100%;
  height: 40px;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 6px;
  overflow: hidden;
  outline: none;
  resize: none;
}

.new-tweet {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reduced-counter {
  color: #DF1E3B;
}

.tweets-border {
  width: 60%;
}

form {
  width: 100%;
}